.section-review-cv {
  .box-overview-cv {
    &__banner {
      padding: 25px 0 25px 25px;
      background: linear-gradient(269deg, rgb(185, 0, 246) 0.91%, rgb(220, 30, 175) 23.38%, rgb(255, 98, 0) 45.85%, rgb(253, 185, 46) 92.62%);
      display: flex;

      .left {
        .title {
          font-size: 30px;
          font-weight: 500;
        }
        .sub-title {
          display: flex;
          gap: 5px;

          & > span {
            line-height: 1.6;
            font-weight: 500;
            margin-top: 2px;
          }
        }
      }
    }
    &__content {
      &-item {
        font-size: 17px;
        line-height: 1.4;
        margin-bottom: 10px;
      }
    }
    &__titleCV {
      cursor: pointer;
      &:hover {
        color: #FF7D55;
      }
    }
  }

  .box-review {
    background: #fcfcfc;

    &__title {
      background: #fff;
      border: 1px solid #EFF5FF;
      border-radius: 14px;
      padding: 15px;
      margin-bottom: 40px;

      &-text {
        margin: 0;
        font-size: 34px;
        font-weight: 500;
      }
    }

    &__summary {
      width: 100%;

      font-size: 24px;
      &-icon {

        &--checked {
          color: #00B70B;
        }

        &--unchecked {
          color: #DC362E
        }
      }

      &-text {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.3;
      }
    }

    &__suggestion {
      &-item {
        font-size: 17px;
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }
  }
}