.header-admin {
  position: sticky;
  top: 0;
  padding: 13px 20px 13px 20px;
  border-bottom: 1px solid #ddd;
  z-index: 999;

  &__menu {
    // height: 58px;
    display: flex;
    display: flex;
    align-items: center;
  }

  &__avatar {
    padding: 10px;
    border-radius: 4px;

    &:hover {
      background-color: #ECECEC;
    }
  }
}

.button-collapse {
  padding: 10px;
  background-color: #fff;
  display: inline-flex;
  font-size: 22px;
  cursor: pointer;
  border-radius: 4px;

  &:hover{ 
    background-color: #ECECEC;
  }
}
