.header-admin {
  position: sticky;
  top: 0;
  padding: 13px 20px 13px 20px;
  border-bottom: 1px solid #ddd;
  z-index: 999;

  &__menu {
    // height: 58px;
    display: flex;
    display: flex;
    align-items: center;
  }

  &__avatar {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #ececec;
    }
  }

  &__avatar-content {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__avatar-content-item {
    padding-left: 10px !important;
    cursor: pointer;
    &:hover {
      background-color: #e6f4ff;
      span {
        color: #1677ff;
      }
    }
  }
}

.button-collapse,
.button-logout {
  padding: 10px;
  background-color: #fff;
  display: inline-flex;
  font-size: 22px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: #ececec;
  }
}
