.box-profile {
  .ant-card-head-title {
    font-size: 20px;
    font-weight: bold;
  }

  &__item {
    align-items: start !important;
    .ant-list-item-meta-title {
      font-size: 17px !important;
      margin-block-end: 5px !important;
      font-weight: bold;
      
    }
  }
}
.profile--mobile {
  padding-left: 16px;
  padding-right: 16px;

  .ant-card-body {
    padding: 16px;
  }
  .ant-card-actions > li {
    margin: 8px 0;
  }
  .news__job-header {
    min-height: 120px;
    padding: 4px 16px 0;
    img {
      display: none;
    }
  }
}
